.label-container {
  border-bottom: 2px solid blue;
  height: 60px;
}

.label {
  display: inline-flex;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
  margin: 0.1rem;
  min-height: fit-content;
}

.label img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.closeButton {
  padding-left: 10px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.lastLabel {
  background-color: rgb(195, 193, 193);
  border: 1px solid blue;
}
