.form-container {
  display: flex;
  flex-direction: row;
  max-height: min-content;
  min-height: 50px;
  flex-wrap: wrap;
}
.emailSpan {
  margin-left: 1rem;
  text-align: left;
  color: grey;
}

.titleSpan {
  width: 30%;
}

.filterListItem {
  display: flex;
  width: 22rem;
  align-items: center;
  margin: 0.3rem;
  padding: 0.1rem;
}

.imageContainer {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.imageContainer img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.left {
  min-width: 3rem;
}

.right {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

input,
input:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid blue;
  background-color: white;
  box-shadow: none;
}

input {
  height: 60px;
  min-width: 22rem;
  padding: 0.2rem;
}

.highlight {
  background-color: rgb(200, 197, 197);
}

.highlight .emailSpan {
  color: black;
}
